<main class="details">
  <!-- Details page -->
  <section id="details">
    <div id="details-wrapper">
      <p id="details-title">Name: {{mineral.name}}</p>
      <div id="img-wrapper">
        <img src="{{mineral.image}}" />
      </div>
      <div id="info-wrapper">
        <table>
          <tr>
            <td>
              <p>
                Category:
                <span id="details-category">{{this.category}}</span>
              </p>
            </td>
            <td>
              <p>Color: <span id="details-color">{{mineral.color}}</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Location:
                <span id="details-location">{{mineral.location}}</span></p>
            </td>
            <td>
              <p>Formula:
                <span id="details-formula">{{mineral.formula}}</span></p>
            </td>
          </tr>
        </table>
        <p>Description:
          <span id="details-description">{{mineral.description}}</span></p>
      </div>

      <!--Edit and Delete are only for creator-->
      <div id="action-buttons">
        {{#if isOwner}}
          <a href="#" id="edit-btn">Edit</a>
          <a href="#" id="delete-btn">Delete</a>
        {{else}}
          {{#if liked}}
            <p id="already-liked">You already liked this stone!</p>
          {{else}}
            <a href="#" id="like-btn">Like</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </section>
</main>